<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nitan Jana</title>
</head>
<body>
  <header class="header">
    <div class="header-logo">N<span>itan</span></div>
  </header>
</body>
<script type="text/javascript">
  var elm = document.getElementsByTagName("html")[0];
  elm.style.display = "none";
  document.addEventListener("DOMContentLoaded", function (event) { elm.style.display = "block"; });
</script>
</html>