<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nitan Jana</title>
</head>

<body>
  <header class="header">
    <div class="header-logo">N<span>itan</span></div>
    <nav class="nav">
      <ul>
        <a href="#">
          <li class="nav-item active"><span class="nav-item-num">01.</span>Home</li>
        </a>
        <a href="#about">
          <li class="nav-item"><span class="nav-item-num">02.</span>About</li>
        </a>
        <a href="#work">
          <li class="nav-item"><span class="nav-item-num">03.</span>Work</li>
        </a>
        <a href="#contact">
          <li class="nav-item"><span class="nav-item-num">04.</span>Contact</li>
        </a>
      </ul>
    </nav>
  </header>
  <div id="home">
    <div class="user-intro">Hi, my name is</div>
    <div class="user-name">Nitan Jana.</div>
    <div class="user-job">I build cool websites.</div>
    <a href="#about">
      <div class="learn-more-button-wrapper">
        <button class="learn-more-button">Learn More</button>
      </div>
    </a>
  </div>
  <div id="about"></div>
</body>

<!-- removes content flash on page load -->
<script type="text/javascript">
  const elm = document.getElementsByTagName("html")[0];
  elm.style.display = "none";
  document.addEventListener("DOMContentLoaded", function (event) { elm.style.display = "block"; });
</script>

</html>