<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nitan Jana</title>
</head>

<body>
  <header class="header">
    <div class="header-logo">N<span>itan</span></div>
    <nav class="nav">
      <ul>
        <li class="nav-item active"><span class="nav-item-num">01.</span>Home</li>
        <li class="nav-item"><span class="nav-item-num">02.</span>About</li>
        <li class="nav-item"><span class="nav-item-num">03.</span>Work</li>
        <li class="nav-item"><span class="nav-item-num">04.</span>Contact</li>
      </ul>
    </nav>
  </header>
</body>

<!-- removes content flash on page load -->
<script type="text/javascript">
  const elm = document.getElementsByTagName("html")[0];
  elm.style.display = "none";
  document.addEventListener("DOMContentLoaded", function (event) { elm.style.display = "block"; });
</script>

</html>