@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;900&display=swap');

:root {
  --background-clr: #0b192e;
  --primary-clr: #05bfdb;
  --white-clr: #ffffff;
  --black-clr: #000000;
  --gray-clr: rgba(240, 248, 255, 0.4);
  --shadow: #084B83;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-clr);
  font-family: 'Montserrat', sans-serif;
  cursor: default;
  user-select: none;
  box-sizing: border-box;

}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

section {
  padding: 20vh 15vw;
  width: 100%;
}

.section-head {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.section-head-num {
  font-size: 1.2rem;
  color: var(--primary-clr);
}

.section-head-text {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--gray-clr);
}

.section-hr {
  width: 40%;
  height: 1px;
  background-color: var(--gray-clr);
  opacity: 0.5;
}