@import url(logo.css);
@import url(nav.css);

.header {
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--background-clr);
  z-index: 2;
}