#home {
  padding: 20vh 15vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.user-intro {
  font-size: 1.2rem;
  color: var(--primary-clr);
}

.user-name {
  font-size: 5rem;
  font-weight: 600;
  color: var(--white-clr);
}

.user-job {
  font-size: 4.5rem;
  font-weight: 600;
  color: var(--primary-clr);
  opacity: 0.8;
  margin-bottom: 3rem;
  text-shadow: -5px -5px 1px var(--shadow);
}

.learn-more-button-wrapper {
  background-color: var(--primary-clr);
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
}

.learn-more-button {
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 100;
  color: var(--primary-clr);
  background-color: var(--background-clr);
  border: 2px solid var(--primary-clr);
  border-radius: 0.5rem;
  cursor: pointer;
}

.learn-more-button:hover {
  transform: translate(4px, 4px);
}