.nav ul {
  display: flex;
  gap: 0.7rem;
  color: var(--white-clr);
  list-style: none;
}

.nav-item {
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.nav-item-num {
  font-size: 1rem;
  color: var(--primary-clr);

}

.nav-item,
.nav-item-num {
  transition: all 0.5s ease-in-out;
}

.nav-item:hover,
.nav-item.active {
  background-color: var(--primary-clr);
  color: var(--black-clr);
}

.nav-item:hover .nav-item-num,
.nav-item.active .nav-item-num {
  color: var(--black-clr);
}

.nav a,
.nav a:visited {
  text-decoration: none;
  color: inherit;
}